<?xml version="1.0"?>
<model>
  <name>grenade</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>João Pedro Mafaldo</name>
    <email>jpmp@cin.ufpe.br</email>
  </author>

  <description>
    A brief description of my Blender model exported as GLB.
  </description>
</model>
