<?xml version="1.0"?>
<model>
  <name>imav</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Victória Pessoa Barbosa Matos</name>
    <email>vpbm@cin.ufpe.br</email>
  </author>

  <description>
    Outdoor IMAV simulation world based on the Haguenau military training ground. 
  </description>
</model>
